<%- include('partials/header') -%>
<div class="container">
    <div class="jumbotron bg-dark text-white text-center" id="landing-div">
        <h1>Welcome to the ThinkPrep SHSAT Test</h1><br>
        <a href="/testIntro" type="button" class="btn btn-success btn-lg">Start Free Quiz</a>
    </div>
</div>
<%- include('partials/footer') -%>