<%- include ('partials/header') -%>

<div class="container">
    <div class="jumbotron text-center intro-div">
        <h1><u>Practice Test 1</u></h1>
        <h3>Part 1 - ENGLISH lANGUAGE ARTS</h3>
        <h5>SUGGESTED TIME: 90 MIN, 57 QUESTIONS</h5>
    </div>
    <div class="text-center">
        <strong><h3>Revising/Editing</h3></strong>
        <h6>Questions 1-10</h6>
    </div>
    <div class="container border border-dark">
        <p><strong>Important Notice: </strong>The Revising/Editing section (Question 1-10) is in two parts: Part A and Part B</p> 
    </div>
    <br><br>
    <h4>REVISING/EDITING PART A</h4>
    <br>
    <div class="container border border-dark">
        <p><strong>Directions: </strong>Read and answer each of the following questions. Tou will be asked to recognize and correct errors in sentences or short paragraphs. Mark the best answer for each question.</p>
    </div>
    <div class="container text-center" id="test-intro-button">
        <a href="/quiz" type="button" class="btn btn-success btn-lg">START</a>
    </div>
</div>


<%- include ('partials/footer') -%>